extends layout

block content
  .wrapper
    h1 login
    form(action="/users/login" method="POST")
      .form-field
        input(
          name="email"
          type="text" 
          placeholder="login"
        )
      .form-field
        input(
          name="password"
          type="password" 
          placeholder="password"
        )
      button Sign In
